<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TF sites</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section>
        <h1>Component</h1>
        <p><a href="site.html">Site</a> > <a href="page.html">Page</a> > <a href="Component">Component</a></p>
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select name="type" id="type"><option value="text">text</option></select></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea name="description" id="description" cols="22" rows="4"></textarea></td>
            </tr>
            <tr>
                <td>Focus:</td>
                <td><input type="text" name="focus" id="focus"> sel</td>
            </tr>
            <tr>
                <td>Click:</td>
                <td><input type="text" name="click" id="click"> sel</td>
            </tr>
            <tr>
                <td>Change:</td>
                <td><input type="text" name="change" id="change"> sel</td>
            </tr>
            <tr>
                <td>Error:</td>
                <td><input type="text" name="error" id="error"> sel</td>
            </tr>
        </table>
        <div><button>Save</button><button>Delete</button><button type="reset">Reset</button></div>
    </section>
</body>

</html>