/* Build with bb-lp-cli @ v1.8.1 */.lp-navbar-advanced .navbar>.container-fluid{width:auto}.lp-navbar-advanced .launcher-toggle{margin-left:5px;width:auto}.lp-navbar-advanced .navbar-brand.active-page{float:none;margin:0}.lp-navbar-advanced .launcher-toggle .badge{margin-left:10px}.nav-icon.navbar-left .glyphicon.glyphicon-list{padding:0 5px}.lp-navbar-advanced .animation-arrow span,.lp-navbar-advanced .animation-none span{transition:all .7s ease}.lp-navbar-advanced .animation-arrow .animate{position:relative}.lp-navbar-advanced .animation-arrow span.bar-first{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg)}.lp-navbar-advanced .animation-arrow span.bar-second{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);width:70%;margin-left:8px;margin-top:4px}.lp-navbar-advanced .animation-arrow span.bar-third{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);width:70%;margin-left:-1px;margin-top:-2px}.lp-navbar-advanced span.bar-first,.lp-navbar-advanced span.bar-second,.lp-navbar-advanced span.bar-third{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg)}.lp-navbar-advanced .lp-transparency-scroll{transition:opacity .7s ease;opacity:.5}.lp-navbar-advanced .lp-hide-show-scroll{transition:min-height .3s ease;min-height:0;height:0}.lp-navbar-advanced .lp-hide-show-scroll *{display:none}@media screen and (min-width:767px){.lp-navbar-advanced-root>li>ul{position:absolute;display:none;white-space:nowrap}.lp-navbar-advanced-root>li:hover ul{display:block}}.lp-navbar-advanced .divider-vertical a{height:100%;display:block;border-right:1px solid rgba(255,255,255,0.1);border-left:1px solid rgba(0,0,0,0.1);width:2px;overflow:hidden;padding-left:0;padding-right:0}@media (max-width:767px){.navbar-collapse .nav>.divider-vertical{display:none}}.lp-navbar-advanced .profile-info{margin-right:0}.lp-navbar-advanced .profile-info>li{height:100%}.lp-navbar-advanced .profile-info .card{height:100%;white-space:nowrap;padding:0 0 0 25px}.lp-navbar-advanced .profile-info .card img{width:42px;height:42px;border-radius:50%}.lp-navbar-advanced .profile-info .card .info{margin:0 5px;line-height:1.5;display:inline-block;vertical-align:middle}.lp-navbar-advanced .profile-info .card .info .title{font-weight:bold;font-size:15px}.lp-navbar-advanced .profile-info .card .info .title a:not([href]){text-decoration:none}.lp-navbar-advanced .profile-info .card .info .title :after{background:none}.lp-navbar-advanced .profile-info .card .logout{padding:0 12px 0 14px;font-size:14px;margin-left:7px;cursor:pointer}@media (max-width:768px){.lp-navbar-advanced .container-fluid .profile-info{margin-right:-20px}}.lp-navbar-advanced .sign-in .link{padding:6px 15px;font-weight:500;font-size:14px}.lp-navbar-advanced .sign-in .link:after{display:none}@media (max-width:768px){.lp-navbar-advanced .sign-in .link{display:block;padding:10px 25px}}
/*# sourceMappingURL=base.css.map */

/* Custome CSS  */

.main-nav .navbar {
    background-color: #3b536f;
    border: none;
}
/*Profile Enabled CSS*/
header ul.nav.navbar-nav.navbar-right.profile-info.ng-scope {
   margin-top: 13px;
   position: absolute;
   right: -40px;
}
header .lp-navbar-advanced .profile-info .card .logout {
    padding: 0px;
    font-size: 14px;
    margin-left: 0px;
    cursor: pointer;
    outline: none;
}
header .lp-navbar-advanced .profile-info .card img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
header span.name.ng-binding {
    display: none;
}
header .lp-navbar-advanced .profile-info .card .info .title a {
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
header .lp-navbar-advanced .profile-info .card .info .title a:hover {
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
header .glyphicon {
   position: relative;
   top: 3px;
   display: inline-block;
   font-family: 'Glyphicons Halflings';
   font-weight: 400;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   right: 5px;
   color: #fff;
   font-size: 11px;
}
header span.glyphicon.glyphicon-lock {
    position: relative;
    top: 4px;
    left: 0px;
}
/*End Profile Enabled CSS*/

/* Parent Class : .top-menu .main-nav-container .main-header */
html.bd-designMode-true .web-portal header, html.bd-designMode-true .nb-portal header {
 z-index: 0;
 position:relative;
}

.web-portal header, .nb-portal header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
}
.top-menu.container-fluid{
    padding:0px;

}
.top-menu.container-fluid .row{
     margin:0px;
}
.top-menu .container {
        margin-top: 0;
}
.top-menu .main-nav-container{
    background-color: #3b536f;
}
.top-menu .main-nav-container .main-header .navbar .navbar-nav a{
    font-size: 14px;
    outline: 0;
}
.top-menu .main-nav-container .main-header .navbar .navbar-nav a:hover{
    font-size: 14px;
    text-decoration: underline;
    outline: 0;
}
.top-menu .main-nav-container .main-header .navbar-nav>li>a {
    padding: 20px 10px 18px 10px;
    line-height: 0px;
    margin-top: 10px;
    outline: 0;
}
.top-menu .main-nav-container .main-header .navbar {
    position: relative;
    min-height: 48px;
    margin-bottom: 0px;
}
.top-menu .main-nav-container .main-header .navbar-brand {
    padding: 11px 11px;
    height: 48px;
    min-width: 177px;
}
.top-menu .main-nav-container .main-header .navbar.navbar-default .navbar-nav a::after, .navbar.navbar-inverse .navbar-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: 0;
    transition: background-color .6s ease-in-out;
    outline: 0;
}
.top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #00337e;
    font-weight: 700;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 5px 5px 0px 0px;
    outline: 0;
}
.top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #FFF;
}
.top-menu .main-nav-container .main-header .navbar-inverse .navbar-text:hover {
    color: #FFF;
    text-decoration: underline;
}
.top-menu .main-nav-container .main-header .navbar-nav>li {
    float: left;
    margin-right: 10px;
}
.top-menu .main-nav-container .main-header .normal-main-header{
            display:block;
}
.top-menu .main-nav-container .main-header ul.nav.navbar-nav.lp-navbar-advanced-root.slick-slider-main-header.clearfix.slick-initialized.slick-slider {
    display: none !important;
}
.top-menu .main-nav-container .main-header .active-line{
        display:none;
}

header .top-menu .main-header ul.nav.navbar-nav.lp-navbar-advanced-root.normal-main-header>li>a ul{
    display:none;
}
body.no-scroll.mogo-body-index .web-portal header{
    z-index:0;
}

.header-menu .navbar-header .secondaryLogo img.secondary-logo-image{
    height: 30px;
    margin-top: 11px;
}
.header-menu .navbar-header a.secondaryLogo{
	padding-right: 11px;
	float: right;
    margin-left: -11px;
}
.user-name{
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 10px 12px;
    display: none;
    position: absolute;
    font-size:13px;
    z-index:999999;
 }

.hover-name:hover + .user-name {
    display: block;
}

/*@media only screen and (min-device-width:540px) and (max-device-width:767px) {*/
@media only screen and (max-width:767px) {
    header ul.nav.navbar-nav.navbar-right.profile-info.ng-scope {
        display: none;
    }
    .web-portal header, .nb-portal header {
        z-index: 2;
    }
    .top-menu .main-nav-container .main-header .main-nav .navbar {
        background:none !important;
        border: none;
    }
    .top-menu .main-nav-container .main-header .navbar-static-top {
        z-index: 1000;
        border:none;
    }
    .top-menu .main-nav-container .main-header .navbar {
        position: relative;
        min-height: 50px;
        border:none;
    }
    .top-menu .main-nav-container .main-header .navbar-header.clearfix {
        margin:0px;
        height: 44px;
    }
    .top-menu .main-nav-container .main-header span.nav-icon.navbar-left.visible-xs-inline-block.cursor-pointer.glyphicon.glyphicon-chevron-left.glyphicon.glyphicon-chevron-left {
        display: none !important;
    }
    .top-menu .main-nav-container .main-header button.navbar-toggle.launcher-toggle.hidden-sm.visible-xs.pull-left.lp-launcher-sidebar-button {
        padding: 0px;
    }
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border:none;
        height: 30px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ededed;
    }
    .top-menu .main-nav-container{
        background-color: #3b536f;
        height: 73px;
    }
    .top-menu .main-nav-container .navbar-inverse .navbar-toggle {
        border: none;
    }
    .top-menu .main-nav-container .main-header .navbar-nav>li>a {
        padding: 5px;
        margin-top: 0px;
        outline: 0;
    }
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        color: #1d86ff;
        font-weight: 700;
        font-size: 16px;
        background-color: #FFF;
        border-radius:0px;
        outline: 0;
        text-decoration: none;
        height: 30px;
        padding: 4px 12px;
        line-height: inherit;
    }
    .top-menu .main-nav-container .main-header .navbar .navbar-nav a {
        font-size: 16px;
        outline: 0;
    }
    .top-menu .main-nav-container .main-header .navbar .navbar-nav a:hover {
        font-size: 16px;
        outline: 0;
    }
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>.active>a span.active-line {
        display: block;
        border-bottom: 2px solid #1d86ff;
        display: block;
        padding-top: 12px;
        width: 60%;
        margin: 0 auto;
    }
    .top-menu .main-nav-container .main-header .navbar-collapse{
        box-shadow: none;
        position: fixed;
        left: 0px;
        width: 100%;
    }
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
        color: #3b526f;
        display: inline-block;
         padding: 4px 25px;
         line-height: inherit;
    }
   .top-menu .main-nav-container .main-header .navbar-nav>li {
        float: left;
        margin: 0px;
    }
    .top-menu .main-nav-container .main-header ul.nav.navbar-nav.lp-navbar-advanced-root {
        margin-top: 0px;
        clear: both;
        height: 30px;
    }
    .top-menu .main-nav-container .main-header button.navbar-toggle.launcher-toggle.hidden-sm.visible-xs.pull-left.lp-launcher-sidebar-button{
        position: relative;
        min-height: 44px;
        float: right;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border:none;
        border-radius: 4px;
    }
    .top-menu .main-nav-container .main-header img.logo-image-center.pull-left.launcher-logo.img-responsive.ng-scope {
        position: relative;
        left: 50%;
        width: 95%;
    }
    .top-menu .main-nav-container .main-header ul.nav.navbar-nav.lp-navbar-advanced-root.slick-slider-main-header.slick-initialized.slick-slider.show-slick-menu{
        display:block !important;
    }
    .header-menu .navbar-header .secondaryLogo img.secondary-logo-image {
        height: 28px;
        margin-top: 8px;
        margin-left: 10px;
    }
    .header-menu .navbar-header a.secondaryLogo{
    	float: none;
    }
}
/*@media only screen and (min-device-width:480px) and (max-device-width:539px) {*/
@media only screen and (max-width:539px) {
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
        padding: 4px 8px;
    }
    .top-menu .main-nav-container .main-header img.logo-image-center.pull-left.launcher-logo.img-responsive.ng-scope {
        position: relative;
        left: 40%;
        width: 85%;
    }

    .top-menu .main-nav-container .main-header li.slick-slide>a{
          color: #3b526f;
          padding: 4px 8px;
    }
}

@media only screen and (max-width:479px) {
    .top-menu .main-nav-container .main-header .navbar-inverse .navbar-nav>.active>a span.active-line {
        display: block;
        border-bottom: 2px solid #1d86ff;
        display: block;
        padding-top: 10px;
        width: 60%;
        margin: 0 auto;
    }

    .top-menu .main-nav-container .main-header ul.nav.navbar-nav.lp-navbar-advanced-root {
        margin-top: 0px;
        clear: both;
    }
    .top-menu .main-nav-container .main-header button.navbar-toggle.launcher-toggle.hidden-sm.visible-xs.pull-left.lp-launcher-sidebar-button{
        position: relative;
        min-height: 44px;
        float: right;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border:none;
        border-radius: 4px;
    }
    .top-menu .main-nav-container .main-header img.logo-image-center.pull-left.launcher-logo.img-responsive.ng-scope {
        position: relative;
        left: 15%;
        width: 75%;
    }
    .top-menu .main-nav-container .main-header .normal-main-header{
        display:none;
    }

    .top-menu .main-nav-container .main-header li.active.slick-slide.slick-current.slick-active {
        margin-top: 0px !important;
        background-color: #fff; /*CSS Apply on Slick slider*/
        height: 30px;
    }
    .top-menu .main-nav-container .main-header li.slick-slide.slick-active{
        outline: none;
        text-align:center;
    }
    .top-menu .main-nav-container .main-header li.active.slick-slide.slick-active {

        outline: none;
        background-color: #fff;
        text-align: center;
        height:30px;
    }
    .top-menu .main-nav-container .main-header li.slick-slide{
        width: auto;
        text-align: center;
    }
    .top-menu .main-nav-container .main-header li.active.slick-slide.slick-active>a{
        color: #1d86ff;
        font-weight: 700;
        font-size: 16px;
        border-radius: 0px;
        outline: 0;
        text-align: center;
        text-decoration: none;
        padding:0px;
    }
    .top-menu .main-nav-container .main-header li.active.slick-slide.slick-active>a span.active-line {
         display: block;
         border-bottom: 2px solid #1d86ff;
         margin: 0 auto;
         width: 20px;
     }

     .top-menu .main-nav-container .main-header .slick-track>a{
          color: #3b526f;
          padding:4px 12px;
     }
}