.do-dont-phising .title-section{
    border-bottom:1px solid #ddd;
    padding:10px 15px;
}
.do-dont-phising .exellenceicon .img-title{
    margin-bottom:10px;
}
.do-dont-phising .exellenceicon .img-cap{
    padding-left:20px;
}
.do-dont-phising .exellenceicon .img-cap p{
    margin-bottom:10px;
}
.do-dont-phising .exellenceicon{
    margin-bottom:20px;
}