<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>event field tester</title>
</head>
<body>
    <form action=test.html>
        <p>
            <label for="fText">text</label>
            <input type="text" name="" id="fText" required>
        </p>
        <p>
            <label for="fButton">button</label>
            <input type="button" value="button" id="fButton">
        </p>
        <p>
            <label for="fCheck">checkboxes</label>
            <input type="checkbox" name="fCheck" id="fCheck1" value="a">
            <input type="checkbox" name="fCheck" id="fCheck2" value="b">
        </p>
        <p>
            <label for="fRadio">radio</label>
            <input type="radio" name="fRadio" id="fRad1" value="on">
            <input type="radio" name="fRadio" id="fRad2" value="off">
        </p>
        <p>
            <label for="fSelect">select</label>
            <select name="fSelect" id="fSelect">
                <option value="fOption1">fOption1</option>
                <option value="fOption2">fOption2</option>
            </select>
        </p>
        <p>
            <label for="fLInk">
                <a href="#fSubmit">link</a>
            </label>
        </p>
        <p>
            <label for="fSubmit">submit</label>
            <input type="submit" value="submit" id="fSubmit">
        </p>
    </form>
</body>
</html>